[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

# CS0649: 从未对字段“TransactionalAttribute._uowManager”赋值，字段将一直保持其默认值 null
dotnet_diagnostic.CS0649.severity = none

# CS8618: 在退出构造函数时，不可为 null 的字段必须包含非 null 值。请考虑声明为可以为 null。
dotnet_diagnostic.CS8618.severity = none

charset = utf-8-bom