@{
    ViewData["Title"] = "Home Page";
}

<div class="site-banner">
    <div class="site-banner-bg" style="background-image: url(/images/layui/banner/winter.jpg?v=0); background-size: cover;">
    </div>
    <div class="site-banner-main">
        <div class="site-zfj site-zfj-anim">
            <i class="layui-icon" style="color: #fff; color: rgba(255,255,255,.7);">&#xe631;</i>
        </div>
        <div class="layui-anim site-desc site-desc-anim">
            <p class="web-font-desc">.NETCore最方便的ORM</p>
            <cite>打造.NETCore最方便的ORM，包括dbfirst、codefirst混合使用</cite>
        </div>
        <div class="site-download">
            <a href="https://github.com/2881099/FreeSql" class="layui-inline site-down" target="_blank">
                <cite class="layui-icon"></cite>
                立即下载
            </a>
        </div>
        <div class="site-version">
            <span>当前版本：<cite class="site-showv">0.0.1.181227_Beta</cite></span>
            <span><a href="/doc/base/changelog.html" rel="nofollow" target="_blank">更新日志</a></span>
            <span>下载量：<em class="site-showdowns">23</em></span>
        </div>
        <div class="site-banner-other">
            <a href="https://github.com/2881099/FreeSql" target="_blank" class="site-star">
                <i class="layui-icon"></i>
                Star <cite id="getStars">1</cite>
            </a>
            <a href="https://github.com/2881099/FreeSql" target="_blank" rel="nofollow" class="site-fork">
                <i class="layui-icon">1</i>
                Fork
            </a>
            <a href="https://github.com/2881099/FreeSql" target="_blank" rel="nofollow" class="site-fork">
                Github
            </a>
        </div>
    </div>
</div>

<div class="layui-main">



    <ul class="site-idea">
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>返璞归真</legend>
                <p>身处在前端社区的繁荣之下，我们都在有意或无意地追逐。而 layui 偏偏回望当初，奔赴在返璞归真的漫漫征途，自信并勇敢着，追寻于原生态的书写指令，试图以最简单的方式诠释高效。</p>
            </fieldset>
        </li>
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>双面体验</legend>
                <p>拥有双面的不仅是人生，还有 layui。一面极简，一面丰盈。极简是视觉所见的外在，是开发所念的简易。丰盈是倾情雕琢的内在，是信手拈来的承诺。一切本应如此，简而全，双重体验。</p>
            </fieldset>
        </li>
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>星辰大海</legend>
                <p>如果眼下还是一团零星之火，那运筹帷幄之后，迎面东风，就是一场烈焰燎原吧，那必定会是一番尽情的燃烧。待，秋风萧瑟时，散作满天星辰，你看那四季轮回<!--海天相接-->，正是 layui 不灭的执念。</p>
            </fieldset>
        </li>
    </ul>

</div>