<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link href="~/layui/css/layui.css" rel="stylesheet" />
        <link href="~/layui/lay/modules/preview.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdn.bootcss.com/highlight.js/9.13.1/highlight.min.js"></script>
        <script src="~/layui/layui.js"></script>
        <script src="~/layui/lay/modules/layer.js"></script>
        <script src="~/js/common.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    </environment>
</head>
<body class="site-home" id="LAY_home" style="background-color: #fff;" data-date="12-27">
    <div class="layui-header header header-index" winter="">
        <div class="layui-main">
            <a class="logo" href="/">
                @*<img src="//res.layui.com/static/images/layui/logo.png" alt="layui">*@
                <span style="font-size:25px; letter-spacing:1px; color:#fff;">FreeSql</span>
            </a>
            <div class="layui-form component">
                <select lay-search="" lay-filter="component">
                    <option value="">搜索功能</option>
                    <option value="element/layout.html">实体</option>
                    <option value="element/layout.html#admin">查询</option>
                    <option value="element/color.html">联表之一：使用导航属性</option>
                    <option value="element/icon.html">联表之二：无导航属性</option>
                    <option value="element/anim.html">联表之三：b, c 条件怎么设？试试这种！</option>
                    <option value="element/button.html">联表之四：原生SQL联表</option>
                    <option value="element/form.html">分组聚合</option>
                    <option value="element/form.html#input">执行SQL返回数据</option>
                    <option value="element/form.html#select">添加</option>
                    <option value="element/form.html#checkbox">执行命令</option>
                    <option value="element/form.html#switch">修改</option>
                    <option value="element/form.html#radio">更新条件</option>
                    <option value="element/form.html#textarea">自定义SQL</option>
                    <option value="element/nav.html">删除</option>
                    <option value="element/nav.html#breadcrumb">表达式函数</option>
                </select>
                <div class="layui-form-select">
                    <div class="layui-select-title">
                        <input type="text" placeholder="搜索组件或模块" value="" class="layui-input"><i class="layui-edge"></i>
                    </div>
                    <dl class="layui-anim layui-anim-upbit" style="">
                        <dd lay-value="" class="layui-select-tips layui-this">搜索组件或模块</dd>
                        <dd lay-value="element/layout.html" class="">grid 栅格布局</dd>
                        <dd lay-value="element/layout.html#admin" class="">admin 后台布局</dd>
                        <dd lay-value="element/color.html" class="">color 颜色</dd>
                        <dd lay-value="element/icon.html" class="">iconfont 字体图标</dd>
                        <dd lay-value="element/anim.html" class="">animation 动画</dd>
                        <dd lay-value="element/button.html" class="">button 按钮</dd>
                        <dd lay-value="element/form.html" class="">form 表单组</dd>
                        <dd lay-value="element/form.html#input" class="">input 输入框</dd>
                        <dd lay-value="element/form.html#select" class="">select 下拉选择框</dd>
                        <dd lay-value="element/form.html#checkbox" class="">checkbox 复选框</dd>
                        <dd lay-value="element/form.html#switch" class="">switch 开关</dd>
                        <dd lay-value="element/form.html#radio" class="">radio 单选框</dd>
                        <dd lay-value="element/form.html#textarea" class="">textarea 文本域</dd>
                        <dd lay-value="element/nav.html" class="">nav 导航菜单</dd>
                        <dd lay-value="element/nav.html#breadcrumb" class="">breadcrumb 面包屑</dd>
                        <dd lay-value="element/tab.html" class="">tabs 选项卡</dd>
                        <dd lay-value="element/progress.html" class="">progress 进度条</dd>
                        <dd lay-value="element/collapse.html" class="">collapse 折叠面板/手风琴</dd>
                        <dd lay-value="element/table.html" class="">table 表格元素</dd>
                        <dd lay-value="element/badge.html" class="">badge 徽章</dd>
                        <dd lay-value="element/timeline.html" class="">timeline 时间线</dd>
                        <dd lay-value="element/auxiliar.html#blockquote" class="">blockquote 引用块</dd>
                        <dd lay-value="element/auxiliar.html#fieldset" class="">fieldset 字段集</dd>
                        <dd lay-value="element/auxiliar.html#hr" class="">hr 分割线</dd>
                        <dd lay-value="modules/layer.html" class="">layer 弹出层/弹窗综合</dd>
                        <dd lay-value="modules/laydate.html" class="">laydate 日期时间选择器</dd>
                        <dd lay-value="modules/layim.html" class="">layim 即时通讯/聊天</dd>
                        <dd lay-value="modules/laypage.html" class="">laypage 分页</dd>
                        <dd lay-value="modules/laytpl.html" class="">laytpl 模板引擎</dd>
                        <dd lay-value="modules/form.html" class="">form 表单模块</dd>
                        <dd lay-value="modules/table.html" class="">table 数据表格</dd>
                        <dd lay-value="modules/upload.html" class="">upload 文件/图片上传</dd>
                        <dd lay-value="modules/element.html" class="">element 常用元素操作</dd>
                        <dd lay-value="modules/rate.html" class="">rate 评分</dd>
                        <dd lay-value="modules/colorpicker.html" class="">colorpicker 颜色选择器</dd>
                        <dd lay-value="modules/slider.html" class="">slider 滑块</dd>
                        <dd lay-value="modules/carousel.html" class="">carousel 轮播/跑马灯</dd>
                        <dd lay-value="modules/layedit.html" class="">layedit 富文本编辑器</dd>
                        <dd lay-value="modules/tree.html" class="">tree 树形菜单</dd>
                        <dd lay-value="modules/flow.html" class="">flow 信息流/图片懒加载</dd>
                        <dd lay-value="modules/util.html" class="">util 工具集</dd>
                        <dd lay-value="modules/code.html" class="">code 代码修饰</dd>
                    </dl>
                </div>
            </div>
            <ul class="layui-nav">
                <li class="layui-nav-item ">
                    <a href="/doc/documents/" target="_self">文档<!-- <span class="layui-badge-dot"></span> --></a>
                </li>
                <li class="layui-nav-item ">
                    <a href="/example/main/" target="_self">示例<!-- <span class="layui-badge-dot"></span> --></a>
                </li>
                <li class="layui-nav-item layui-hide-xs">
                    <a href="/bbs/bbscontent/" target="_self">社区</a>
                </li>

                @*<li class="layui-nav-item">
                        <a href="javascript:;"><span class="layui-badge-dot" style="margin: -5px 0 0 -15px;"></span>周边<span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child layui-anim layui-anim-upbit">
                            <dd lay-unselect="">
                                <a href="//fly.layui.com/extend/" target="_blank">扩展组件</a>
                            </dd>
                            <dd lay-unselect="">
                                <a href="//fly.layui.com/store/" target="_blank">模板市场 <span class="layui-badge-dot"></span></a>
                                <hr>
                            </dd>

                            <dd class="layui-hide-sm layui-show-xs" lay-unselect="">
                                <a href="//fly.layui.com/" target="_blank">社区交流</a>
                                <hr>
                            </dd>
                            <dd lay-unselect=""><a href="/admin/" target="_blank">后台模板</a></dd>
                            <dd lay-unselect=""><a href="/layim/" target="_blank">即时聊天</a><hr></dd>

                            <dd lay-unselect=""><a href="/alone.html" target="_blank" lay-unselect="">独立组件</a></dd>
                            <dd lay-unselect=""><a href="#" target="_blank">Axure 组件</a></dd>
                        </dl>
                    </li>*@

                <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                    <a href="/Example/Template">模板下载<span class="layui-badge-dot" style="margin-top: -5px;"></span></a>
                </li>
                <span class="layui-nav-bar" style="left: 54px; top: 55px; width: 0px; opacity: 0;"></span>
            </ul>
        </div>
    </div>
    
    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <div class="layui-footer footer footer-index">
            <div class="layui-main">
                <p>© 2018 <a href="/">FreeSql.com</a> MIT license</p>
                <p>
                    <a href="#" target="_blank">案例</a>
                    <a href="#" target="_blank">支持</a>
                    <a href="#" target="_blank" rel="nofollow">GitHub</a>
                    <a href="#" target="_blank" rel="nofollow">码云</a>
                    <a href="#" target="_blank">公众号</a>
                    <a href="#" target="_blank" rel="nofollow">赣ICP备xxxxxxx号-2</a>
                </p>
            </div>
        </div>
    </div>

    <environment include="Development">
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
        <script src="~/layui/layui.js"></script>
        <script>
            layui.config({
                base: '/layui/lay/modules/'
                , version: '31111'
            }).use('global');

            window.global = {
                preview: function () {
                    var preview = document.getElementById('LAY_preview');
                    return preview ? preview.innerHTML : '';
                }()
            };
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
