
.layui-layer-content {
    padding: 0px;
}

.layui-form-label {
    width: 80px;
    font-weight:bold;
}

.layui-input, .layui-textarea {
    display: block;
    width: 100%;
    padding-left: 10px;
}

.form-module-content {
    border: 0px solid red;
    overflow: auto;
    /*height: 548px;*/
    height: 80%;
    padding: 5px;
}

.form-module-footer {
    border: 0px solid red;
    height: 55px;
    width: 100%;
    position: absolute;
    border-top: 5px solid #e8e8e8;
    /*border-bottom: 5px solid #dedede;*/
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: right;
    z-index: 100;
    padding: 0px;
}

    .form-module-footer button {
        margin-right: 10px;
        margin-top: 10px;
    }
