@{
    ViewBag.Title = "";

    //Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
<style>
    body {
        padding: 10px 30px;
    }

    .hide {
        display: none
    }
</style>
<button class="layui-btn layui-btn-primary down-up-all">全部收起/展开</button>
<button class="layui-btn layui-btn-primary get-checked">获取选中</button>

<table class="layui-table layui-form" id="doctype-tree-table"></table>

<script type="text/javascript">
    layui.use(['treetable', 'form'], function () {
        var data = @Html.Raw(Html.ToJson(ViewBag.TypeList as List<DocumentTypeTreeNode>));

        var o = layui.$, treetable = layui.treetable;
        var form = layui.form, layer = layui.layer;
        treetable.render({
            elem: '#doctype-tree-table',
            data: data,
            field: 'title',
            is_checkbox: true,
            checked: [1, 2, 3, 4],
            /*icon_val: {
                open: "&#xe619;",
                close: "&#xe61a;"
            },
            space: 4,*/
            cols: [
                {
                    field: 'title',
                    title: '标题',
                    width: '40%',
                    template: function (item) {
                        if (item.level == 1) {
                            return '<span style="color:red;">' + item.title + '</span>';
                        }
                        if (item.level == 2) {
                            return '<span style="color:green;">' + item.title + '</span>';
                        }
                        return item.title;
                    }
                },
                {
                    field: 'id',
                    title: '编号',
                    width: '10%'
                },
                {
                    title: '标签',
                    width: '10%',
                    template: function (item) {
                        return item.tag||"";//'<input type="checkbox" lay-skin="switch" lay-filter="status" lay-text="开启|关闭">';
                    }
                },
                {
                    title: '创建时间',
                    width: '20%',
                    template: function (item) {
                        return item.createdt.replace('T',' ') || "";//'<input type="checkbox" lay-skin="switch" lay-filter="status" lay-text="开启|关闭">';
                    }
                },
                {
                    field: 'actions',
                    title: '操作',
                    width: '20%',
                    template: function (item) {
                        var tem = [];
                        tem.push('<button class="layui-btn layui-btn-xs layui-btn-normal">添加子级</button>');
                        tem.push('<button class="layui-btn layui-btn-xs">编辑</button>');
                        return tem.join(' ')
                    },
                },
            ]
        });

        treetable.on('treetable(add)', function (data) {
            layer.msg('添加操作');
            console.log(data);
        })

        treetable.on('treetable(edit)', function (data) {
            layer.msg('编辑操作');
            console.log(data);
        })

        o('.down-up-all').click(function () {
            var expandStatus = o(this).attr("expandStatus");
            expandStatus == "down" ? treetable.all('up') : treetable.all('down');
            expandStatus == "down" ? o(this).attr('expandStatus', 'up') : o(this).attr('expandStatus', 'down');
        })

        o('.get-checked').click(function () {
            console.log(treetable.all('checked'));
        })

        form.on('switch(status)', function (data) {
            layer.msg('监听状态操作');
            console.log(data);
        })
    });
</script>