@{
    ViewBag.Title = "";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">文档管理</a>
                <dl class="layui-nav-child menu-item">
                    <dd><a href="javascript:void(0);" datajson="{}" path="/Admin/Document/DocContent">文档内容</a></dd>
                    <dd><a href="javascript:void(0);" datajson="{}" path="/Admin/Document/DocType">文档分类</a></dd>
                    <dd><a href="/Doc/Documents/Index" target="_blank">查看文档</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;" id="page_content">

    </div>
</div>

<script>
    $(".menu-item>dd>a").click(function () {
        var path_item = $(this).attr("path");
        var path_json = $(this).attr("datajson");

        var index = freejs.showLoading({ msg: "数据加载中......" });
        $("#page_content").load(path_item, $.parseJSON(path_json), function () {
            //初始化绑定页面的时间，例如时间控件
            freejs.closeLoading(index);
            index = -1;
            layui.use('form', function () {
                var form = layui.form;

            });
        });

        //如果出现长时间未关闭，定时关闭loading
        setTimeout(function () {
            if (index >= 0) freejs.closeLoading(index);
        }, 5000);
    });

</script>